name: Release new Version

on:
  pull_request:
    types: [closed]
    branches:
      - main

permissions:
  contents: write
  id-token: write # Required for OIDC

jobs:
  release:
    name: Release
    # Important: Only run this when we've merged a "release/*" PR into main... all other PRs should be skipped.
    if: github.repository == 'apollographql/apollo-ai-apps-client' && (github.event.pull_request.merged == true && startsWith(github.event.pull_request.head.ref, 'release/'))
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: ">=23.6.0"
          registry-url: "https://registry.npmjs.org/"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Install dependencies
        shell: bash
        run: npm ci

      - name: Build
        shell: bash
        run: npm run build

      - name: Configure Git
        run: |
          git config --global user.name GitHub Actions
          git config user.email github-actions@github.com

      - uses: knope-dev/action@v2.1.0
        with:
          version: 0.22.0

      - run: knope release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to npm
        shell: bash
        run: npm publish --provenance --access public
